mixin icon(options = {})
  - const {name, title = '', modifier = '', width = '24px', height = '24px'} = options

  if modifier
    modifier = `--${modifier}`
  svg(class=`icon icon__${name}${modifier}` role='img' width=width height=height)
    use.asd(href=`/sprite.svg#${name}`)